@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
   --white: #FFFFFF;
   --gray-100: #E9EBEE;
   --gray-200: #E5E5E5;
   --gray-300: #999A9B;
   --black: #1C1C1C;
   --red-100: #FFCAE0;
   --red-200: #F3151B;
   --red-300: #E20F15;
   --green-100: #A3F9B9;
   --green-200: #40B25C;
   --green-300: #1E9631;
}

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
}

body {
   background: var(--gray-200);
   color: var(--black);
   width: 100%;
   height: 100%;
   min-height: 100%;
}

#app {
   display: flex;
   width: 950px;
   margin: 100px auto;
   height: 100%;
   min-height: 100%;
}


.card {
   background: var(--white);
   margin-right: 20px;
   text-align: center;
   height: 568px;
   width: 304px;
   border-radius: 8px;
   padding: 32px;
   position: relative;
   transition: box-shadow 0.5s;
   color: var(--black);
   display: flex;
   flex-direction: column;
   justify-content: space-between
}

.card:last-child {
   margin-right: 0;
}

.card:hover {
   box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
}

/* wish list */

.card__wish-list {
   position: absolute;
   width: 48px;
   height: 48px;
   right: 32px;
   top: 32px;
   background-color: var(--gray-100);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   border: none;
   box-shadow: none;
   cursor: pointer;
   transition: background 0.2s;
   background-image: url("../images/icon-wish-list.svg");
   background-position: center;
   background-repeat: no-repeat;
}

.card__wish-list:hover {
   background-image: url("../images/icon-wish-list-hover.svg");
   background-color: var(--red-100);
}

.card__wish-list.is-active {
   background-image: url("../images/icon-wish-list-active.svg");
   background-color: var(--red-200);
}


/* image */

.card__image {
   width: 100%;
   min-height: 240px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.card__image>img {
   width: 100%;
   max-width: 100%;
}

/* infos */

.card__infos {
   margin: 32px 0px;
}

.card__description {
   font-weight: 400;
   font-size: 14px;
   line-height: 20px;
   text-align: left;
   margin-bottom: 24px;
}

/* prices */
.card__price {
   text-align: left;
   font-weight: 500;
}

.card__price__list {
   font-size: 14px;
   line-height: 20px;
   letter-spacing: -0.005em;
   text-decoration: line-through;
   color: var(--gray-300);
}

.card__price__best {
   font-family: Inter;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   line-height: 24px;
   letter-spacing: -0.005em;
   color: var(--red-200);
   margin: 4px 0;
}

.card__price__cash {
   font-size: 12px;
   line-height: 16px;
   letter-spacing: -0.005em;
   color: var(--gray-300);
}

.card__price__cash span {
   color: var(--black);
}

/* button card */

.card__button-wrapper {
   width: 100%;
}

.card__button {
   padding: 12px 24px;
   font-weight: 600;
   width: 100%;
   height: 48px;
   display: flex;
   justify-content: center;
   align-items: center;
   background: var(--green-200);
   border-radius: 5px;
   color: var(--white);
   transition: background 0.2s;
   text-transform: uppercase;
   position: relative;
}

.card__button:hover {
   background: var(--green-300);
}

.card__button.is-active::before {
   content: "";
   background-image: url("../images/icon-check.svg");
   position: relative;
   left: 0;
   background-size: 100%;
   width: 24px;
   margin-right: 10px;
   height: 24px;
   background-repeat: no-repeat;
   background-position: center;
}

.card__button.is-active {
   background: var(--green-100);
   color: var(--black);
}

.card__button.is-remove {
   background: var(--red-300);
   color: var(--white);
}

.card__button.is-remove::before {
   content: "";
   background-image: url("../images/icon-remove.svg");
   position: relative;
   left: 0;
   background-size: 100%;
   width: 24px;
   margin-right: 10px;
   height: 24px;
   background-repeat: no-repeat;
   background-position: center;
}


/* media queries */

@media screen and (max-width: 1024px) {
   #app {
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
   }

   .card {
      margin-bottom: 24px;
      margin-right: 0;
   }
}